.bg-blue {
  background-color: #388ee7;
}

.bg-black-light {
  background-color: #383b47;
}
.fs-0 {
  font-size: calc(3rem + 0.5vw) !important;
}
.fs-6 {
  font-size: 1rem !important;
}

.fs-footer {
  font-size: calc(0.6rem + 0.3vw) !important;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: calc(0.5rem + 0.3vw) !important;
}

.fw-bold {
  font-weight: bold !important;
}

.bg-cloud {
  background-image: url("../../Assets/BG//cloud\ bg.png");
}

.h-40 {
  height: 40px !important;
}

.bg-orange {
  background-color: #de944e;
}

.bg-green {
  background-color: #40b681;
}

.bg-red {
  background-color: #9c3a3a;
}

.bg-purple {
  background-color: #6249cc;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-dark {
  background-color: #383b47 !important;
}

.text-gray {
  color: #575757 !important;
}

@media screen and (max-width: 500px) {
  .fs-3 {
    font-size: calc(1rem + 0.6vw) !important;
  }
  .fs-8 {
    font-size: 0.5rem !important;
  }
  .fs-6 {
    font-size: 0.6rem !important;
  }

  .fs-footer {
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width: 370px) {
  .fs-3 {
    font-size: calc(1rem + 0.6vw) !important;
  }
  .fs-5 {
    font-size: 1rem !important;
  }

  .fs-7 {
    font-size: 0.7rem !important;
  }
  .fs-8 {
    font-size: 0.4rem !important;
  }

  .fs-footer {
    font-size: 0.45rem !important;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .fs-0 {
    font-size: calc(2rem + 0.4vw) !important;
  }
  .fs-2 {
    font-size: calc(1.2rem + 0.6vw) !important;
  }
  .fs-3 {
    font-size: calc(1rem + 0.6vw) !important;
  }
  .fs-5 {
    font-size: 1rem !important;
  }

  .fs-7 {
    font-size: 0.65rem !important;
  }
  .fs-8 {
    font-size: calc(0.45rem + 0.2vw) !important;
  }
}

@media screen and (max-width: 990px) {
  .fs-8 {
    font-size: calc(0.4rem + 0.2vw) !important;
  }
  .fs-0 {
    font-size: calc(2rem + 0.4vw) !important;
  }
  .fs-3 {
    font-size: calc(0.9rem + 0.5vw) !important;
  }

  .fs-6 {
    font-size: 0.8rem !important;
  }
}
