.home-bg
{
    background-image: url("../../../img/bg-home.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
    width: 300vw;
    /* height: 100vh;
} */
}

.logo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }

